<%= simple_form_for(@resolution) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :body %>
    <%= f.input_field :completed, as: :boolean %>
  </div>



  </input>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
