<header class="intro-header" style="background-image: url('http://www.roughguides.com/wp-content/uploads/2012/06/BA9742-006-1680x1050.jpg'); background-position: top;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Resvolution</h1>
                    <hr class="small">
                    <span class="subheading">Change your life, change the world.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">

        <ul class="pager">
            <li class="next">
                <%= link_to "Make a resolution!", new_resolution_path %>
            </li>
        </ul>
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <% @resolutions.each do |resolution| %>

                <%= link_to resolution do %>
                    <div class="post-preview">

                        <h2 class="post-title">
                            <%= resolution.body %>
                        </h2>
                        <h3 class="post-subtitle">

                        </h3>
                <% end %>
                <p class="post-meta">Posted by <a href="#">@<%= resolution.user.username %></a> on <%= resolution.created_at %>hi</p>
                    </div>

      </tr>
            <% end %>

            <hr>

        </div>
    </div>
</div>
